* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 70px;
  transition: 0.3s;
  z-index: 12;
}
.scrolled {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.nav-left {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
}
.nav-left img {
  margin-top: -8px;
}
.nav-left > h5 {
  color: #4a70a9;
}
.nav-right ul {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  margin-top: 15px;
}
.nav-right ul li {
  align-items: center;
}
.nav-right ul li a {
  text-decoration: none;
}
/* Home */
.hero {
  display: flex;
  flex-direction: column;
  color: #4a70a9;
  gap: 20px;
  height: 641px;
  align-items: center;
  justify-content: center;
  /* background: #4a70a9;
  background: linear-gradient(
    90deg,
    rgba(74, 112, 169, 1) 0%,
    rgba(143, 171, 212, 1) 50%,
    rgba(196, 232, 255, 1) 100%
  ); */
  background-image: linear-gradient(
      135deg,
      transparent 0%,
      transparent 6%,
      rgba(71, 71, 71, 0.04) 6%,
      rgba(71, 71, 71, 0.04) 22%,
      transparent 22%,
      transparent 100%
    ),
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 20%,
      rgba(71, 71, 71, 0.04) 20%,
      rgba(71, 71, 71, 0.04) 47%,
      transparent 47%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 24%,
      rgba(71, 71, 71, 0.04) 24%,
      rgba(71, 71, 71, 0.04) 62%,
      transparent 62%,
      transparent 100%
    ),
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 73%,
      rgba(71, 71, 71, 0.04) 73%,
      rgba(71, 71, 71, 0.04) 75%,
      transparent 75%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
.hero > h4 {
  font-size: 28px;
}
.hero > h1 {
  font-size: 64px;
  font-weight: 600;
}
.hero > p {
  font-size: 21px;
  font-weight: 400;
}
.hero button {
  padding: 15px 40px;
  border-radius: 30px;
  font-weight: 600;
  color: #4a70a9;
  background-color: transparent;
  border: 2px solid #4a70a9;
}
.hero button:hover {
  color: #fff;
  background-color: #4a70a9;
  border: 2px solid #4a70a9;
}

/* About */
.about {
  margin-top: 100px;
  text-align: center;
}
.about > p {
  font-size: 15px;
}
.about > h3 {
  font-size: 46px;
  font-weight: 700;
}
.about-me {
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
}
.about-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  text-align: start;
  font-size: 24px;
  padding: 20px 20px 0 20px;
}
.description {
  text-align: justify;
  font-size: 16px;
  padding: 20px;
}
.info-des {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px 0 20px;
  text-align: left;
}
.btn1 {
  display: block;
  padding: 15px 40px;
  border-radius: 30px;
  font-weight: 600;
  color: #4a70a9;
  background-color: transparent;
  border: 2px solid #4a70a9;
  align-self: flex-start;
  margin: 10px 20px;
}
.btn1:hover {
  color: #fff;
  background-color: #4a70a9;
  border: 2px solid #4a70a9;
}

/* Resume */
.resume {
  margin-top: 100px;
}
.resume > p {
  font-size: 15px;
  text-align: center;
}
.resume > h3 {
  font-size: 46px;
  font-weight: 700;
  text-align: center;
}
.education > h3,
.experience > h3 {
  padding: 10px 0;
}
.resume-container {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  padding: 30px 100px 20px 100px;
}
.resume-container > * {
  flex: 1;
}
.edu-card {
  position: relative;
  border-left: 3px solid #009e66;
  padding: 20px 20px 20px 50px;
  margin: 10px 0;
}
.edu-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 14px;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(/images/rightArrow.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Skills */
.skills {
  margin-top: 100px;
}
.skills > p {
  font-size: 15px;
  padding-left: 100px;
}
.skills > h3 {
  font-size: 46px;
  font-weight: 700;
  padding-left: 100px;
}
.skills > h5 {
  padding: 20px 0 5px 100px;
}
.programming {
  display: flex;
  gap: 50px;
  padding: 10px 20px 20px 100px;
  align-items: center;
  justify-content: flex-start;
}
.pro-card {
  text-align: center;
  padding: 20px 20px 10px 20px;
  border: 2px solid gray;
}
.pro-card > h6 {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}
.pro-card > p {
  background-color: lightgray;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 9px;
}
.pro-card > img {
  width: 50px;
}

/* Project */
.project {
  margin-top: 100px;
}
.project > p {
  font-size: 15px;
  text-align: center;
}
.project > h3 {
  font-size: 46px;
  text-align: center;
  font-weight: 700;
}
.projectType > ul {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.projectType ul li a {
  display: inline-block;
  padding: 5px 20px;
  color: #4a70a9;
  border: 1px solid #4a70a9;
  text-decoration: none;
}
.projectType ul li a:hover {
  border: 1px solid #4a70a9;
  color: #fff;
  background-color: #4a70a9;
  text-decoration: none;
}
.projects {
  margin-top: 30px;
}
.project-card {
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid gray;
}
.project-card > img {
  width: 100%;
}
.project-card > h3 {
  font-size: 24px;
  padding: 20px 10px 0 10px;
}
.project-card > p {
  font-size: 16px;
  padding: 0 10px;
}
.technologies > p {
  display: inline-block;
  margin-left: 3px;
  font-size: 12px;
  font-weight: 600;
  padding: 3px 7px;
  border-radius: 10px;
  background-color: lightgray;
}
.links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.links > a {
  text-decoration: none;
  padding: 0 10px;
  color: #4a70a9;
}
/* Testimonial */
/* Blog */
/* Achievement */
/* Contact */
.contact {
  margin: 100px 100px 20px 100px;
}
.contact > p {
  font-size: 15px;
  text-align: center;
}
.contact > h3 {
  font-size: 46px;
  font-weight: 700px;
  text-align: center;
}
.contact-flex {
  margin-top: 50px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.contact-left {
  flex: 1;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 12px;
}
.contact-left > h2,
.contact-right > h2 {
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
}
.info-me {
  display: flex;
  gap: 30px;
  padding: 15px;
  align-items: center;
}
.contact-right {
  flex: 1;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 12px;
}
.contact-right > form {
  padding: 5px 20px;
}
.btn10 {
  width: 100%;
  padding: 10px 40px;
  border-radius: 30px;
  font-weight: 600;
  color: #fff;
  background-color: #4a70a9;
  border: 2px solid #4a70a9;
}
.btn10:hover {
  background-color: #3f5e8d;
  border: 2px solid #4a70a9;
}
.social p {
  padding: 10px 20px 0 20px;
}
.social a {
  display: inline-block;
  padding: 10px 20px;
}
/* Footer */
.footer {
  height: 150px;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
